<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title> Caculator</title>
        <!-- Third Party Styles -->
        <link rel="stylesheet" type="" href="lib/angular/angular-csp.css">
        
        <!-- Application Styles -->
    </head>
    <body ng-controller="ApplicationController as vm">
        <button type="" ng-click="vm.displayInput(1)">1</button>
        <button type="" ng-click="vm.displayInput(2)">2</button>
        <button type="" ng-click="vm.displayInput(3)">3</button>
        <button type="" ng-click="vm.displayInput('+')">+</button>
        <br><br>
        <button type="" ng-click="vm.displayInput(4)">4</button>
        <button type="" ng-click="vm.displayInput(5)">5</button>
        <button type="" ng-click="vm.displayInput(6)">6</button>
        <button type="" ng-click="vm.displayInput('-')">-</button>
        <br><br>
        <button type="" ng-click="vm.displayInput(7)">7</button>
        <button type="" ng-click="vm.displayInput(8)">8</button>
        <button type="" ng-click="vm.displayInput(9)">9</button>
        <button type="" ng-click="vm.displayInput('*')">*</button>
        <br><br>
        <button type="" ng-click="vm.displayInput(0)">0</button>
        <button type="" ng-click="vm.displayInput('/')">/</button>
        <button type="" ng-click="vm.displayInput('=')">=</button>
        <button type="" ng-click="vm.displayInput('reset')">reset</button>          
        <br>
        <p>Solution is <input type="textfield" name="ans" value="{{vm.dispalyNumber}}"></p>

    <!-- Third Party Scripts -->
    <script src='lib/angular/angular.min.js'></script>

    <!-- Application Scripts -->
    <script src="js/calculator.controller.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>