<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title> Caculator</title>
        <!-- Third Party Styles -->
        <link rel="stylesheet" type="" href="lib/angular/angular-csp.css">
        
        <!-- Application Styles -->
    </head>
    <body ng-controller="ApplicationController as vm">
        <button type="" ng-click="vm.displayInpute(1)">1</button>
        <button type="" ng-click="vm.displayInpute(2)">2</button>
        <button type="" ng-click="vm.displayInpute(3)">3</button>
        <button type="" ng-click="vm.displayInpute('+')">+</button>
        <br><br>
        <button type="" ng-click="vm.displayInpute(4)">4</button>
        <button type="" ng-click="vm.displayInpute(5)">5</button>
        <button type="" ng-click="vm.displayInpute(6)">6</button>
        <button type="" ng-click="vm.displayInpute('-')">-</button>
        <br><br>
        <button type="" ng-click="vm.displayInpute(7)">7</button>
        <button type="" ng-click="vm.displayInpute(8)">8</button>
        <button type="" ng-click="vm.displayInpute(9)">9</button>
        <button type="" ng-click="vm.displayInpute('*')">*</button>
        <br><br>
        <button type="" ng-click="vm.displayInpute(0)">0</button>
        <button type="" ng-click="vm.displayInpute('/')">/</button>
        <button type="" ng-click="vm.displayInpute('=')">=</button>
        <button type="" ng-click="vm.displayInpute('reset')">reset</button>          
        <br>
        <p>Solution is <input type="textfield" name="ans" value="{{vm.number}}"></p>

    <!-- Third Party Scripts -->
    <script src='lib/angular/angular.min.js'></script>

    <!-- Application Scripts -->
    <script src="js/calculator.controller.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>